{% extends 'base.html.twig' %}

{% block title %}Créer un devis{% endblock %}

{% block body %}
<section class="create-estimate">
    


{{ form_start(form) }}
{{ form_row(form.date) }}
{{ form_row(form.title) }}
{{ form_row(form.customer) }}

<h3>Tags</h3>
<ul class="tags"
    data-index="{{ form.estimate_line|length > 0 ? form.estimate_line|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.estimate_line.vars.prototype)|e('html_attr') }}"
></ul>
<button type="button" class="add_item_link" data-collection-holder-class="tags">Add a tag</button>
{{ form_end(form) }}

    <hr class="hr">
    <a href="{{ path('estimates') }}" class="custom-btn">Retour</a>
</section>

<script>
    const addTagLink = document.createElement('a')
        addTagLink.classList.add('add_tag_list')
        addTagLink.href = '#'
        addTagLink.innerText = 'Add a tag'
        addTagLink.dataset.collectionHolderClass = 'tags'

        const newLinkLi = document.createElement('li').append(addTagLink)

        const collectionHolder = document.querySelector('ul.tags')
        collectionHolder.appendChild(addTagLink)

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        }

        addTagLink.addEventListener("click", addFormToCollection)


        

</script>
{% endblock %}