{% extends 'base.html.twig' %}

{% block title %}Créer un devis{% endblock %}

{% block body %}
<section class="edit-estimate">
    <div class="edit-estimate-content">
        {# Delete FORM #}
        <h3>Devis : {{ estimate.title }}</h3>
        <div class="select-estimate-line" data-estimate="{{ estimate.id }}">
            <form method="post">
                <select id="estimate-line-delete-form">
                    <option value="0">--Sélectionnez une ligne</option>
                    {% for estimateLine in estimate.estimateLine %}
                    <option value="{{ estimateLine.id }}" data-id="{{ estimateLine.id }}">{{ estimateLine.description }}
                    </option>
                    {% endfor %}
                </select>
                <button class="custom-btn" id="estimate-line-form-delete-submit" type="submit">Supprimer une
                    ligne</button>
            </form>
        </div>

        {# update FORM #}
        {% include('estimate/_form.html.twig') %}
    </div>
</section>

<section class="footer-nav">
<div class="d-flex justify-content-around">
    <a href="{{ path('home') }}" class="custom-btn">
        <img src="{{ asset('assets/icons/return.png') }}">
    </a>
</div>
</section>

<script src="{{ asset('assets/js/estimate.js') }}"></script>

{% endblock %}