{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
<section class="estimates-section">

    <h1>Mes devis</h1>

    <hr class="hr">
    
    {# FILTERS #}
    <div class="filter-form">
        <h2>Trier</h2>
        {{form_start(form)}}
        {{form_row(form.type)}}
        <br>
        {{form_row(form.submit)}}
        {{form_end(form)}}
    </div>
    
    <hr class="hr">

    {% for estimate in estimates %}
    <h5>
        {{ estimate.title }} - {{ estimate.date|date('d/m/y')}}
    </h5>

    <div class="row">
        <div class="col-4">
            <a href="{{ path('estimate', {'id' : estimate.id }) }}" class="custom-btn">Voir
            </a>
        </div>
        <div class="col-4">
            <a href="{{ path('estimate_edit', {'id': estimate.id}) }}" class="custom-btn">Modifier</a>
        </div>
        <div class="col-4">
            <a href="{{ path('estimate_delete', {'id': estimate.id}) }}"
                onclick="return confirm('Supprimer ce devis ?')" class="custom-btn">Supprimer</a>
        </div>
    </div>
    {% endfor %}
</section>

<hr class="hr">

<section class="footer-nav">
    <div class="d-flex justify-content-around">
        <a href="{{ path('home') }}" class="custom-btn">
            <img src="{{ asset('assets/icons/return.png') }}">
        </a>
    </div>
</section>
{% endblock %}