{% extends 'base.html.twig' %}

{% block body %}
<section class="estimate">
    {# HEADER #}
    <div class="row">
        <div class="col-6">
            <div class="logo">
                logo
            </div>
        </div>
        <div class="col-6">
            <div class="estimate-ref">
                <p>Devis : {{ estimate.id }}</p>
                <p>Date : {{ estimate.date|date('d/m/y') }}</p>
            </div>
        </div>
    </div>
    <br>
    {# USER & CUSTOMER INFOS #}
    <div class="d-flex justify-content-around">
        <div class="user-infos">
            <p>{{ app.user.companyName }}</p>
            <p>{{ app.user.street }}</p>
            <p>{{ app.user.postal }}</p>
            <p>{{ app.user.town }}</p>
            <p>Siret : {{ app.user.siret }}</p>
        </div>
        <div class="customer-infos">
            <p>{{ estimate.customer.companyName }}</p>
            <p>{{ estimate.customer.street }}</p>
            <p>{{ estimate.customer.postal }}</p>
            <p>{{ estimate.customer.town }}</p>
            <p>Siret : {{ estimate.customer.siret }}</p>
        </div>
    </div>

    <hr class="hr">
    
    {# TITLE #}
    <div class="row">
        <div class="col-12"></div>
        <h1 class="estimate-title">{{ estimate.title }}</h1>
    </div>
    
    <hr class="hr">
    
    {# ESTIMATE LINES #}
    <table class="estimate-table">
        <thead>
            <tr>
                <th>Oeuvre</th>
                <th>Qté</th>
                <th>P.U</th>
                <th>TVA</th>
                <th>Total HT</th>
            </tr>
        </thead>
        <tbody>
            {% for line in estimate.estimateLine %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.price }} €</td>
                <td>{{ line.tva }}%</td>
                <td class="estimate-price">{{ line.price * line.quantity }} €</td>
            </tr>
            {% endfor %}
        </tbody>
        <th>
    </table>

    <hr class="hr">

    {# TOTAL LINES #}
    <table class="estimate-table">
        <tr>
            <td class="estimate-price">Total HT</td>
            <td class="estimate-price">{{ totalHt|round(2, 'floor') }} €</td>
        </tr>
        <tr>
            <td class="estimate-price">Total TVA</td>
            <td class="estimate-price">{{ totalTva|round(2, 'floor') }} €</td>
        </tr>
        <tr>
            <td class="estimate-price">Total TTC</td>
            <td class="estimate-price">{{ totalTtc|round(2, 'floor') }} €</td>
        </tr>
    </table>


</section>
{% endblock %}