{% extends 'base.html.twig' %}

{% block body %}
<section class="estimate">
    {# HEADER #}
    <div class="row">
        <div class="col-6">
            <div class="logo">
                <img src="{{ asset('assets/logo.png') }}">
            </div>
        </div>
        <div class="col-6">
            <div class="estimate-ref">
                <p>Devis : {{ estimate.id }}</p>
                <p>Date : {{ estimate.date|date('d/m/y') }}</p>
            </div>
        </div>
    </div>

    <br>

    {# USER & CUSTOMER INFOS #}
    <div class="d-flex justify-content-around">
        <div class="user-infos">
            <p>{{ app.user.companyName }}</p>
            <p>{{ app.user.street }}</p>
            <p>{{ app.user.postal }}</p>
            <p>{{ app.user.town }}</p>
            <p>Siret : {{ app.user.siret }}</p>
        </div>
        <div class="customer-infos">
            <p>{{ estimate.customer.companyName }}</p>
            <p>{{ estimate.customer.street }}</p>
            <p>{{ estimate.customer.postal }}</p>
            <p>{{ estimate.customer.town }}</p>
            <p>Siret : {{ estimate.customer.siret }}</p>
        </div>
    </div>

    <hr class="hr">

    {# TITLE #}
    <div class="row">
        <div class="col-12"></div>
        <h1 class="estimate-title">{{ estimate.title }}</h1>
    </div>

    <hr class="hr">

    {# ESTIMATE LINES #}
    <table class="estimate-table">
        <thead>
            <tr>
                <th>Oeuvre</th>
                <th>Qté</th>
                <th>P.U</th>
                <th>TVA</th>
                <th>Total HT</th>
            </tr>
        </thead>
        <tbody>
            {% for line in estimate.estimateLine %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.price }} €</td>
                <td>{{ line.tva }}%</td>
                <td class="estimate-price">{{ line.price * line.quantity }} €</td>
            </tr>
            {% endfor %}
        </tbody>
        <th>
    </table>

    <hr class="hr">

    {# TOTAL LINES #}
    <table class="estimate-table">
        <tr>
            <td class="estimate-price">Total HT</td>
            <td class="estimate-price">{{ totalHt|round(2, 'floor') }} €</td>
        </tr>
        <tr>
            <td class="estimate-price">Total TVA</td>
            <td class="estimate-price">{{ totalTva|round(2, 'floor') }} €</td>
        </tr>
        <tr>
            <td class="estimate-price">Total TTC</td>
            <td class="estimate-price">{{ totalTtc|round(2, 'floor') }} €</td>
        </tr>
    </table>

    <hr class="hr">

    </section>

    <section class="footer-nav">
        <div class="d-flex justify-content-around large-nav">
            <a href="{{ path('estimates') }}" class="custom-btn">
                <img src="{{ asset('assets/icons/return.png') }}">
            </a>
            <a href="{{ path('estimate_download', {'id': estimate.id}) }}" id="download-pdf"
                class="custom-btn">
            <img src="{{ asset('assets/icons/download.png') }}">
            </a>
            <a href="{{ path('estimate_edit', {"id": estimate.id}) }}" class="custom-btn">
                <img src="{{ asset('assets/icons/edit.png') }}">
            </a>
            <a href="{{ path('estimate_delete', {'id' : estimate.id}) }}"
                onclick="return confirm('Supprimer ce devis ?')" class="custom-btn">
                <img src="{{ asset('assets/icons/delete.png') }}">
            </a>
        </div>
    </section>


</section>
{% endblock %}