<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Devis
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('estimates') }}">Voir</a></li>
                        <li><a class="dropdown-item" href="{{ path('estimate_create') }}">Créer</a></li>
                    </ul>
                </li>
                {% if app.user %}
                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                {% else %}
                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                <a class="nav-link" href="{{ path('register') }}">S'enregistrer</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>